{{- $home := site.Home -}}
<a href="{{ $home.RelPermalink }}" class="plain font-bold">{{ site.Title }}</a>

{{- if not .IsHome }}

  {{- if eq .Kind "page" }}
    {{- $section := .CurrentSection }}
    {{- if and $section (ne $section $home) }}
      <span class="muted">/</span>
      <a href="{{ $section.RelPermalink }}" class="plain">{{ $section.Title }}</a>
    {{- end }}

  {{- else if eq .Kind "term" }}
    {{- $taxonomyPage := site.GetPage .Data.Plural }}
    {{- with $taxonomyPage }}
      <span class="muted">/</span>
      <a href="{{ .RelPermalink }}" class="plain">{{ .Title }}</a>
    {{- end }}
  {{- end }}

{{- end }}
