<nav class="flex align-center">
  <div class="flex-grow breadcrumb">
    {{ partial "breadcrumb.html" . }}
  </div>
  <div class="nav-links">
    {{ range site.Menus.main }}
      <a href="{{ .URL | relLangURL }}" class="plain muted font-bold{{ if eq .Name "Now" }} mobile-hidden{{ end }}">{{ .Name }}</a>
    {{ end }}
    <button id="theme-toggle" class="sl" aria-label="Toggle theme">
      <span class="theme-toggle-slide"></span>
      <span class="theme-toggle-switch"></span>
    </button>
  </div>
</nav>
