{{ define "main" }}
<div class="wrap">
  {{ $posts := (where site.RegularPages "Type" "posts").ByDate.Reverse }}

  {{ with index $posts 0 }}
    <p class="muted sb font-bold">Latest</p>
    <h1 class="home-latest-title"><a href="{{ .RelPermalink }}" class="plain">{{ .Title }}</a></h1>
    <p class="smaller muted">{{ .Date.Format "January 2, 2006" }} · {{ .ReadingTime }} minute read</p>
    <p>{{ .Summary | plainify }} <a href="{{ .RelPermalink }}">Keep reading →</a></p>
  {{ end }}

  <hr>

  {{ with site.Taxonomies.topics }}
    <p class="muted sb font-bold"><a href="/topics" class="plain muted">Topics</a></p>
    <p class="home-topics">
      {{ range $i, $e := .Alphabetical }}{{ if $i }}, {{ end }}<a href="{{ $e.Page.RelPermalink }}">{{ $e.Page.Title }}</a>{{ end }}
    </p>

    <hr>
  {{ end }}

  <p class="muted sb font-bold"><a href="/posts" class="plain muted">Writing</a></p>
  {{ partial "post-listing.html" $posts }}


</div>
{{ end }}
